@model FrontEndEvaluacionAcademia.NET.Models.Account
<h1>Billeteras Virtuales</h1>
<h3>Saldo Pesos:</h3>
<table class="table table-striped" style="width:100%">
    <tr>
        <th>Código de Cuenta</th>
        <td>@Model.CodAccount</td>
    </tr>
    <tr>
        <th>CBU</th>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <th>Alias</th>
        <td>@Model.CodUser</td>
    </tr>
    <tr>
        <th>Saldo en Pesos</th>
        <td>@Model.CodUser</td>
    </tr>
    <!-- Agrega más datos de la cuenta según tus necesidades -->
</table>


<h3>Saldo Dolares</h3>
<h3>Saldo Bitcoin</h3>


@* <script src="~/js/Wallet/Wallet.js"></script> *@
