<h1>Usuarios</h1>
<button class="btn btn-primary m-3" onclick="CreateUser()">Agregar Usuario</button>

<table id="Users" class="table table-striped" style="width:100%"></table>

<div id="UsersAddPartial"></div>

<script src="~/js/User/User.js"></script>
